@page
@model ImagesWithStudents.Pages.DetailsModel
@{

    ViewData["Title"] = "Details page";

}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Displaying Image and Details</h1>
       
    </div>
    <div class="card-body">
        <form method="post" action="">

            I want to see:
            <select asp-for="@Model.SelectedStaffId" asp-items="@Model.Staff">
                <option selected="selected" value="">Select a Person</option>
            </select>

            <input type="submit" value="Submit" />

        </form>
    </div>
    <div class="card-footer">
        <h3>The persons Details</h3>
        <div class="row">

            @if (Model.SelectedStaff.Name != null)
            {
                <p class="card-text">Name  @Model.SelectedStaff.Name </p>
                <p class="card-text">Age @Model.SelectedStaff.Age</p>
                <p class="card-text">Occupation @Model.SelectedStaff.Occupation</p>
                <p class="card-text">Mobile Number @Model.SelectedStaff.MobileNumber</p>
                <img src="~/images/@Model.SelectedStaff.ImagePath" class="card-img-top img-fluid img
thumbnail rounded mx-auto d-block" />
            }
        </div>
    </div>
</div>